.home-page{
    background-color: whitesmoke;
    margin:0px;
}

.contents {
    display: flex;
    flex-direction: row;
    padding: 10px;
}


@media screen and (max-width:576px){
    .contents {
            display: flex;
            flex-direction: column;
            padding: 10px;
        }
}

@media screen and (min-width:577px) and (max-width:768px) {
    .contents {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .contents {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}

@media screen and (min-width:1024px){

}


